<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * acl
 *
 * @copyright Copyright © 2020 landofcoder. All rights reserved.
 * @author    landofcoder@gmail.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                    <resource id="Lof_CategoryBannerSlider::CategoryBanner" sortOrder="10" title="CategoryBanner">
                    <resource id="Lof_CategoryBannerSlider::CategoryBanner_save" sortOrder="10" title="Save CategoryBanner"/>
                    <resource id="Lof_CategoryBannerSlider::CategoryBanner_delete" sortOrder="20" title="Delete CategoryBanner"/>
                    <resource id="Lof_CategoryBannerSlider::CategoryBanner_update" sortOrder="30" title="Update CategoryBanner"/>
                    <resource id="Lof_CategoryBannerSlider::CategoryBanner_view" sortOrder="40" title="View CategoryBanner"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>