<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * config
 *
 * @copyright Copyright © 2020 landofcoder. All rights reserved.
 * @author    landofcoder@gmail.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <lofcategorybannerslider>
            <general>
                <enable>1</enable>
            </general>
            <simpleslider>
                <auto_play_simpleslider>1</auto_play_simpleslider>
                <interval_simpleslider>7200</interval_simpleslider>
                <pause_on_hover_simpleslider>1</pause_on_hover_simpleslider>
                <effec_simpleslider></effec_simpleslider>
            </simpleslider>
            <cameraslider>
                <select_animation_cameraslider></select_animation_cameraslider>
                <pause_on_hover_cameraslider>1</pause_on_hover_cameraslider>
                <loader_cameraslider></loader_cameraslider>
                <show_navigation_cameraslider>1</show_navigation_cameraslider>
                <show_pagination_cameraslider>1</show_pagination_cameraslider>
                <duration_cameraslider>1500</duration_cameraslider>
            </cameraslider>
        </lofcategorybannerslider>
    </default>
</config>