<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * menu
 *
 * @copyright Copyright © 2020 landofcoder. All rights reserved.
 * @author    landofcoder@gmail.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Lof_CategoryBannerSlider::Banner" sortOrder="10" title="Category Banner Slider" module="Lof_CategoryBannerSlider" resource="Lof_CategoryBannerSlider::CategoryBanner" parent="Lof_All::lof_all"/>
        <add action="lof_categorybannerslider/categorybanner/index" id="Lof_CategoryBannerSlider::lof_categorybannerslider_categorybanner" parent="Lof_CategoryBannerSlider::Banner" module="Lof_CategoryBannerSlider" resource="Lof_CategoryBannerSlider::CategoryBanner" sortOrder="0" title="Category Banner Slider"/>
        <add action="adminhtml/system_config/edit/section/lofcategorybannerslider" id="Lof_CategoryBannerSlider::configuration" parent="Lof_CategoryBannerSlider::Banner" module="Lof_CategoryBannerSlider" resource="Lof_CategoryBannerSlider::config_categoryBanner" sortOrder="0" title="Banner Settings"/>
    </menu>
</config>
