<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * menu
 *
 * @copyright Copyright © 2020 landofcoder. All rights reserved.
 * @author    landofcoder@gmail.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add action="lof_categorybannerslider/categorybanner/categorybanner" id="Lof_CategoryBannerSlider::lof_categorybannerslider_categorybanner" parent="Lof_All::license" module="Lof_CategoryBannerSlider" resource="Lof_CategoryBannerSlider::lof_categorybannerslider_categorybanner" sortOrder="0" title="Category Banner Slider"/>
    </menu>
</config>